.root {
  width: 1000px;
}

.section {
  margin-bottom: 32px;

  & .title {
    font-weight: normal;
    border-bottom: solid 1px lightgray;
    margin-bottom: 16px;
  }
}

.label {
  font-size: 1.4rem;
}

.field {
  margin-bottom: 16px;
}

.input {
  border: solid 1px lightgray;
  padding: 4px 8px;
  font-size: 1.4rem;
  width: 400px;
}

.radio_item {
  display: flex;
  align-items: center;
  margin: 8px 4px;
}

.radio_label {
  width: 100px; /* adjust clickable area */
  font-size: 1.4rem;

  & svg {
    display: block;
    margin: -8px -4px; /* adjust for icon itself's margin */
  }
}

.radio_input {
  margin-right: 12px;
}

.actions {
  & .save {
    color: whitesmoke;
    background-color: gray;
    padding: 4px 12px;
    border-radius: 4px;
  }

  & .active {
    background-color: mediumseagreen;
  }
}
