.item {
  display: grid;
  grid-template-rows: 20px 20px;
  grid-template-columns: 40px 1fr;

  padding: 12px;
  border-top: solid 1px lightgray;

  cursor: pointer;
}

.current {
  background-color: lavender;
}

.head {
  grid-row: 1/3;
  grid-column: 1;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.subtitle {
  color: gray;
  font-size: 1.4rem;
}
