.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  font-size: 1.8rem;
  margin-bottom: 12px;
}

.link {
  color: whitesmoke;
  background-color: mediumseagreen;
  padding: 4px 12px;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
  }
}
