:root {
  --header-height: 50px;
  --title-height: 40px;
}

.title {
  font-size: 1.4rem;
  color: gray;
  height: calc(var(--title-height) - 16px);
  margin-top: calc(-1 * var(--title-height));
  margin-bottom: 16px;
}

.main {
  flex-grow: 1;
  width: fit-content;
  /* set main area height with fixed value instead of percent or flex item, for split pane */
  height: calc(100vh - var(--header-height));
  padding-top: calc(8px + var(--title-height));
  padding-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}
