@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-bottom-1 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }

  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.with_thin_scrollbar::-webkit-scrollbar {
  width: 5px;
}
.with_thin_scrollbar::-webkit-scrollbar-thumb {
  background-color: lightslategray;
  border-radius: 5px;
}
